http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/M1/bars/Bid?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Bars": [{
          "Volume": 93,
          "Close": 1.22175,
          "Low": 1.22154,
          "High": 1.22175,
          "Open": 1.22168,
          "Timestamp": 1621864020000
         }, {
          "Volume": 77,
          "Close": 1.22182,
          "Low": 1.22172,
          "High": 1.22187,
          "Open": 1.22175,
          "Timestamp": 1621864080000
         }, {
          "Volume": 71,
          "Close": 1.22195,
          "Low": 1.22175,
          "High": 1.22195,
          "Open": 1.22181,
          "Timestamp": 1621864140000
         }, {
          "Volume": 56,
          "Close": 1.22205,
          "Low": 1.22195,
          "High": 1.22214,
[...]
