http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/M1/bars/Bid?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Bars": [{
          "Volume": 280,
          "Close": 1.18638,
          "Low": 1.18617,
          "High": 1.18639,
          "Open": 1.18618,
          "Timestamp": 1625488080000
         }, {
          "Volume": 204,
          "Close": 1.18624,
          "Low": 1.18623,
          "High": 1.18638,
          "Open": 1.18638,
          "Timestamp": 1625488140000
         }, {
          "Volume": 212,
          "Close": 1.18642,
          "Low": 1.18624,
          "High": 1.18642,
          "Open": 1.18624,
          "Timestamp": 1625488200000
         }, {
          "Volume": 229,
          "Close": 1.18639,
          "Low": 1.18634,
          "High": 1.1864[...]
