http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/ticks?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1623341383979,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 5300000,
           "Price": 1.21676,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 374000,
           "Price": 1.21678,
           "Type": "Ask"
          },
          "TickType": "Normal"
         }, {
          "Timestamp": 1623341384868,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 4500000,
           "Price": 1.21676,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 374000,
           "Price": 1.21678,
           "Type": "Ask"
          },
          "TickType": "Normal"
         }, {
          "Timestamp": 1623341385551,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 45[...]
