http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/M1/bars/Bid?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Bars": [{
          "Volume": 308,
          "Close": 1.21745,
          "Low": 1.21725,
          "High": 1.21747,
          "Open": 1.21727,
          "Timestamp": 1623340800000
         }, {
          "Volume": 269,
          "Close": 1.21738,
          "Low": 1.21738,
          "High": 1.2175,
          "Open": 1.21745,
          "Timestamp": 1623340860000
         }, {
          "Volume": 407,
          "Close": 1.21722,
          "Low": 1.21721,
          "High": 1.21749,
          "Open": 1.21738,
          "Timestamp": 1623340920000
         }, {
          "Volume": 343,
          "Close": 1.21715,
          "Low": 1.21712,
          "High": 1.21732[...]
